/* CSS Resets */
h1, h2, h3, h4, p, nav ul {
    padding: 0;
    margin: 0;
}
nav ul {
    list-style-type: none;
}
img { max-width: 100%; display: block; }
* { box-sizing: border-box;}

/* end Resets */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Marcellus", sans-serif;
    color: #00402E;
    background-color: #aed2c7;
}

h1, h2, h3 {
    font-family: 'Fraunces', serif;
}

h1 {
    font-style: italic;
    font-size: 8em;
    margin: 0.2em 0 0 0;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.8em;
}

h3 {
    margin-bottom: 0.5em;
    color: #E8AFBE;
}
nav {
    border-top: 2px solid #00402E;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color:#00402E;
    font-weight: bold;
    border-bottom: 2px solid #00402E;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

nav ul li a:hover {
    cursor: pointer;
    background-color: #E8AFBE;
}

header, footer {
    background-color: #00402E;
    color: #fff7d5;
}

header, section, footer {
    padding: 20px;
}

header h2 {
    color: #E8AFBE;
}

section {
    padding: 50px;
}

section:nth-child(even){
    background-color: #00402E;
    color: #fff7d5;
}

.container {
    max-width: 1000px;
}

article {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.4em;
    margin-bottom: 1em;
}

ol li {
    margin-bottom: 1em;
}

img {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #E8AFBE;
}

.gif {

    width: 70%;
}

footer {
    background-color: #aed2c7;
    color: #00402E;
}

@media only screen and (min-width: 768px) {
    nav ul { display: flex; }
    nav ul li { flex: 1; }
}

@media only screen and (min-width: 1000px) {
    .container{ margin: auto; }
    nav ul {
        max-width: 1000px;
        margin: auto;
    }
    .content { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}