* {
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 12);
    color: rgb(235, 235, 235);
    transition: all 2s;
    font-family: 'Outfit', sans-serif;
}

body.switch {
    background-image: url("images/psychedelic-background.svg");
    background-repeat: repeat-y;
    background-size: cover;
    /* background-color: #ED8534; */
    transition: all 2s;

    animation: bgcolorchange 20s infinite alternate;

    font-family: 'Raleway', sans-serif;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 5.5em;
}

header {
    margin: 0 auto 1em auto;
}


#banner {
    position: relative;

    width: 1100px;
    height: 250px;
    margin: auto;
    padding: 1.5em 1.5em 0 1.5em;

    background-color: rgb(235, 235, 235);
    color: black;
    overflow: hidden;
    transition: all 2s;
}

#banner.switch {
    border-radius: 50%;
    background-color: #CEE495;
    color: black;
    
    transition: all 2s;
}

#classInfo {
    display: flex;
}

#classInfo.switch {
    display: block;
}

#quarter {
    position: absolute;
    right: 24px;
    top: 24px;
    writing-mode: vertical-rl;
    text-orientation: initial;
    /* text-align:center; */
}

#quarter.switch {
    font-family: 'Raleway', sans-serif;

    position: initial;
    writing-mode: horizontal-tb;
    text-orientation: initial;
    text-align: center;
}


h1, h2, h3 {
    font-family: 'Righteous', sans-serif;
}

h1 {
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 6em;
    line-height: 0.7em;
    text-transform: uppercase;

    color: black;
}

h1.switch {
    margin-top: 10px;
    position: relative;
    line-height: 1em;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */

    font-family: 'Spicy Rice', sans-serif;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0 5px;
    font-size: 2em;
    line-height: 0.7;
    text-transform: uppercase;
}

h2.switch {
    margin: 10px;
    padding: 0 5px;
    font-size: 2.5em;
    line-height: 1em;
    /* text-transform: uppercase; */
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;

}

#circle {

    display: block;
    position: absolute;

    top: 24px;
    right: 70px;
    margin: 0;
    padding: 0;

    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
    animation-timing-function: linear;
}

#circle:hover {
    animation-play-state: paused;
}

#circle.switch {
    display: none;
}

#circle img {
    display: block;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    /* margin: 1em auto; */
}

section {
    padding: 1.5em;
    transition: all 2s;

}

section.switch {
    background-color: #CEE495;
    transition: all 2s;
}

section li {
    margin: 5px 0 5px 0;
    padding-left: 0;
    border-left: 2px solid white;
}

section li.switch {
    margin: 5px 0 5px 0;
    padding-left: 0;
    border-left: 2px solid black;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
    color: white;

    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.1em;
}

section a:hover {
    background-color: white;
    color: black;
}


section.switch a {
    color: black;
    border-radius: 10px;
}

section.switch a:hover {
    background-color: #ED8534;
    color: black;
}

h3 {
    margin: 0;
    font-family: 'Righteous', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

h3.switch {
    margin: 0;
    font-family: 'Spicy Rice', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

ol,
ul {
    list-style-type: none;
    margin-top: 8px;
    margin-left: 0;
    padding-left: 0;
}

button {
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 12px;
    background-color: #173BF0;
    color: white;
    border: 1px solid transparent;

}

button:hover {
    background-color: #A62318;
    cursor: pointer;
}

button.switch {
    background-color: #CEE495;


    color: black;
    border-radius: 45%;
}

button.switch:hover {
    background-color: black;
    color: #CEE495;
}

#projects {
    min-height: 310px;
    margin-right: 10px;

    flex: 0.9;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;

    background-color: #F8D86C;
    color: black;
}

#projects.switch {
    background-color: #CEE495;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

#projects ol {
    margin-top: 8px;
    /* margin-bottom: 8px; */
}
#projects li {
    border-left: 2px solid black;
}

#projects a {
    color: black;
}

#research {
    /* min-height: 330px; */
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 60px;
    border-bottom-right-radius: 47.5%;
    border-bottom-left-radius: 47.5%;

    flex: 1.2;
    align-self: stretch;

    background-color: #A62318;

}

#research.switch {
    background-color: #CEE495;
    color: black;

    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 40%;
}


#development {
    margin-left: 10px;
    margin-right: 10px;

    flex: 1.8;
    align-self: stretch;

    background-color: #173BF0;

    color: white;
}

#development.switch {
    background-color: #CEE495;
    color: black;

    border-top-right-radius: 60%;
    border-bottom-right-radius: 90%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 50%;
}

#development ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#development ul li {
    width: 49%;
}

#capstone {
    position: relative;
    margin-left: 10px;

    padding-bottom: 30px;
    flex: 0.6;
    border-bottom-right-radius: 90%;

    background-color: #A62318;

}

#capstone.switch {
    background-color: #CEE495;
    color: black;

    border-top-right-radius: 20%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 50%;
}

#mushroom {
    /* opacity: 0; */
    display: none;
    position: absolute;
    top: 170px;
    right: 50px;

    animation-name: spinningMush;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#mushroom:hover {
     animation-play-state: paused;
    /* animation-fill-mode:both; */
}

#mushroom.switch {
    /* opacity: 1; */
    display: block;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    } 
    /* 50% {
        transform: rotate(360deg);
    } */
    100% {
        transform: rotate(359deg);
    }
}

@keyframes spinningMush {
    0% {
        transform: rotate(0) scale(1);
    } 
    50% {
        transform: rotate(360deg) scale(0.6);
    }
    100% {
        transform: rotate(0) scale(1);
    }
    /* 0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(100vh);
      } */
}

@keyframes bgcolorchange {
    0% {background-color: #ED8534}
    25% {background-color: #5b3112;}
    50% {background-color: #ED8534;}
    75% {background-color: #907f72;}
    100% {background-color: #e29961;}
}