*{
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", sans-serif;
    background-image: url(images/green.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    
    z-index: 4;
    padding: 20px 10px;
}

h1, h2 {
    font-family: 'Fraunces', serif;
}

h1 {
    margin: 0;
    padding: 0;

    font-weight: 800;
    font-style: italic;
    color: #00402E;

    font-size: 2em;
}

h2 {
    font-weight: 500;
    margin: 0;
}

img {
    display: block;
}

/*////////////////// SECTIONS STYLING //////////////////*/

main {
    position: relative;

    /* overflow: hidden; */
    margin-left: auto;
    margin-right: auto;

    padding: 70px 10px 50px 10px;
}

#left {
    z-index: 1;
    filter: blur(0);
    opacity: 1;
    transition: all 700ms ease-in-out;
}

#right {
    z-index: 0;
    filter: blur(0);
        opacity: 1;
        transition: all 700ms ease-in-out;
}

section h2 {
    font-family: "Marcellus", sans-serif;
    font-weight: 800;
    font-size: 1.3em;
}

.hide-section {
    display: none;
}

.show-section {
    display: block;
}

/*////////////////// FOOTER STYLING //////////////////*/

footer {
    position: relative;
    z-index: 4;
    margin: 0;

    padding: 30px;
    background-color: #00402E;
    color: #fff7d5;
}

footer h2 {
    margin-bottom: 5px;
}

footer p {
    margin: 0;
    padding: 5px 0;
    font-size: 1em;
}

/*////////////////// ENTRIES STYLING //////////////////*/

ol {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none;
}

ol li {
    min-height: 260px;
    position: relative;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    z-index: 1;
    text-align: center;

    padding: 60px 30px;
    margin: 20px 0;
    list-style-type: none;
    
}

li h2 {
    margin: 0;
    /* padding-top: 20px; */
    font-size: 1.5em;
}

li img{
    max-width: 100%;
  height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
 
}

.love {
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin: 10px 50px 0px 50px; */
    bottom: 0;
    font-size: 1.1em;
}

.loveText{
    max-width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flower {
    padding: 50px;
}

/*////////////////// FORM STYLING //////////////////*/

form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: auto;
    z-index: 4;
    padding: 20px;
}

form h2 {
    font-family: 'Fraunces';
    font-weight: 800;
    font-style: italic;
    margin-top: 10px;
}

label,input {
    display: block;
}

label {
    margin-top: 10px;
    font-family: 'Fraunces';
    font-size: 1.2em;
    margin-bottom: 10px;
}
input {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    font-size: 13px;
}

textarea{
    width: 100%;
    padding: 10px;

    border: 3px dotted purple;
    border-radius: 10px;
    resize: vertical;
    background-color: #fff7d5;
    outline: none;
}

textarea:focus {
    border: 3px solid purple;
    background-color: white;
}

input[type=submit] {
    width: 30%;
    padding: 10px;
    margin: 10px auto;

    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#love-form {
    background-color: #E8AFBE;
    color: black;
}

#love-form p{
    margin-top: 5px;
    font-size: 0.9em;
}

#love-form input[type=submit]{
    background-color: #fff7d5;
    color: black;
}

#love-form input[type=submit]:hover {
    color: #E8AFBE;
    background-color: black;
}

.love-form-onscreen {
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    transition: all 500ms ease-in-out;
}

.love-form-offscreen {
    bottom: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out; 
}

#advice-form {
    background-color: #BF3605;
    color: #fff7d5;
}

#advice-form p{
    margin: 5px;
    font-size: 0.9em;
}

#advice-form a {
    cursor: pointer;
    text-decoration: none;
    color: #fff7d5;
}

#advice-form a:hover {
    color: #E8AFBE;
}

#advice-form input[type=submit] {
    color: #BF3605;
    background-color: #fff7d5;
}

#advice-form input[type=submit]:hover {
    background-color: black;
    color: #fff7d5;
}

.advice-form-onscreen {
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    transition: all 500ms ease-in-out;
}

.advice-form-offscreen {
    bottom: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out; 
}

#exitLove {
    width: 2em;
    position: absolute;
    right: 20px;
}

#exitLove:hover {
    cursor: pointer;
    transition: all 1s;
    transform: rotate(180deg);
}

#exitAdvice {
    width: 2em;
    position: absolute;
    right: 20px;
}

#exitAdvice:hover {
    cursor: pointer;
    transition: all 1s;
    transform: rotate(180deg);
}


/*////////////////// BUTTON STYLING //////////////////*/
#love-btn-container, #advice-btn-container {
    
    position: fixed;
    display: flex;

    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    padding: 0 10px;
    align-items: center;
    justify-content: center;
    gap: 16px;

    font-family: "Marcellus", sans-serif;
    text-transform: uppercase;
}

#love-btn-container div {
    /* width: 100%; */
    padding: 8px 16px; 
    font-size: 1em;
    text-align: center;
    border-radius: 40px;
    border: 3px solid #00402E;
}

#advice-btn-container div {
    /* width: 100%; */
    padding: 8px 16px; 
    font-size: 1em;
    text-align: center;
    border-radius: 40px;
    border: 3px solid #00402E;
}

#love-button-div {
    background-color: #E8AFBE;
}

#love-button-div:hover {
    cursor: pointer;
}

#advice-button-div {
    color: #00402E;
    background-color: #BF3605;
}

#advice-button-div:hover {
    cursor: pointer;
}

#love-button, #advice-button, #to-advice, #to-love {
    text-decoration: none;
}

#love-button {
    color: #00402E;
    font-weight: bolder;
}

#to-advice-div {
    background-color: #BF3605;
}

#to-advice {
    color: #FFEC9C;
}

.love-btn-onscreen {
    visibility: visible;
    filter: blur(0rem);
    opacity: 1;
    transition: all 500ms ease-in-out;
}

.love-btn-offscreen {
    visibility: hidden;
    filter: blur(10px);
    opacity: 0.3;
    transition: all 500ms ease-in-out;
}

#advice-button {
    color: #FFEC9C;
}

#to-love-div {
    background-color: #E8AFBE;
}

#to-love {
    color: #00402E
}

.advice-btn-onscreen {
    visibility: visible;
    filter: blur(0rem);
    opacity: 1;
    transition: all 500ms ease-in-out;
}


.advice-btn-offscreen {
    visibility: hidden;
    filter: blur(10px);
    opacity: 0.3;
    transition: all 500ms ease-in-out;
}


/* INTRO STYLING */

#overlay {
    position: fixed;
    background-color: #00402E;
    top: 0;
    left: 0;
    z-index: 6;
    height: 100vh;
    width: 100vw;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    color: #fff7d5;
}

#overlay:hover {
    cursor: pointer;
}

#overlay article {
    width: 70vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay h2 {
    margin-bottom: 0;
    
    font-weight: 800;
    font-style: italic;
    
    font-size: 3em;
}

#overlay p {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Fraunces', serif;

    font-size: 1.5em;
}

#overlay article #instructions {
    margin-top: 50px;
    font-family: "Marcellus", sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;

    text-align: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.close {
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    background-color: #E8AFBE;
    border: #4C191B solid;
    border-radius: 5px;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close:hover {
    cursor: pointer;
}

@media only screen and (min-width: 767px) {

    main {
        padding: 170px 20px 70px 20px;
        display: flex;
        gap: 20px;
    }


    h1 {
        font-size: 7em;
    }


    ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0px;
    }
    
    #left {
        flex: 1;
        filter: blur(10px);
        opacity: 0.3;
        transition: all 700ms ease-in-out;
    }

    #left:hover{
        filter: blur(0);
        opacity: 1;
        transition: all 700ms ease-in-out;
    }

    #right {
        flex: 1;
        filter: blur(10px);
        opacity: 0.3;
        transition: all 700ms ease-in-out;
    }

    #right:hover {
        filter: blur(0);
        opacity: 1;
        transition: all 700ms ease-in-out;
    }


    footer {
        padding: 50px;
        position: absolute;
        z-index: 4;
    }

    footer #end {
        display: flex;
        column-gap: 2em;
    }

    footer p {
        width: 50%;
    }

    /*////////////////// FORM STYLING //////////////////*/

    form {
        width: 40%;
        height: auto;
        border-radius: 10px;
    }

    .love-form-onscreen {
        bottom: 5%;
    }

    .love-form-offscreen {
        bottom: -80%;
    }

    .advice-form-onscreen {
        bottom: 5%;
    }

    .advice-form-offscreen {
        bottom: -80%;
    }

    /*////////////////// BUTTON STYLING //////////////////*/

    #love-btn-container {
        width: 50%;
        display: block;
        left: 25%;
    }
    #advice-btn-container {
        width: 50%;
        display: block;
        left: 75%;
    }

    #love-btn-container div {
        /* width: 100%; */
        padding: 16px 24px;
        font-size: 1.2em;
    }

    #advice-btn-container div {
        /* width: 100%; */
        padding: 16px 24px;
        font-size: 1.2em;
    }

    #love-button-div {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;

        /* padding: 30px 0px;  */
    }

    #advice-button-div {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;

        /* padding: 30px 0px;  */
    }

    #to-love-div, #to-advice-div {
        display: none;
    }


    /*////////////////// INTRO //////////////////*/

    #overlay article {
        padding: 50px;
    }
    
    #overlay h2 {
        margin-top: 50px;
        font-size: 7em;
    }

    #overlay p {
        font-size: 3em;
    }

    #overlay article #instructions {
        margin-top: 100px;
    }
}


