/*********** Basic Resets ************/
h2, h3, p, ol, li { 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 300;
    color: #333;
    background-color: rgb(236, 163, 181);
    /* background: content-box radial-gradient(rgb(226, 158, 103), rgb(0, 15, 179)); */
}

header {
    position: fixed;
    width: 100%;
    z-index: 4;
    padding: 20px;
}


h1 {
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-size: 13vw;
    text-align: center;
    color: rgb(173, 0, 0);
    text-shadow: rgb(195, 59, 59) 2px 0 10px;;
}

main {
    padding: 300px 20px 100px 20px;
}
/* main ol {
    display: flex;
    flex-wrap: wrap;
} */

main ol li {
    /* min-width: 200px; */
    text-align: center;
    border-radius: 50%;
    padding: 60px 0;
    margin: 20px 0;
    list-style-type: none;
    position: relative;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 10%; */
    row-gap: 80px;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;

    font-family: 'Fraunces', serif;
    font-size: 5em;
    text-align: center;
    color: black;
}

section div {
    /* padding-top: ; */
    /* padding-bottom: 100px; */
}

li {
    position: relative;
    z-index: 1;
}

li img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

footer {
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 10px 0;

    text-align: center;
}

footer p {
    color: black;
}


/* Love messages styling*/

.love {
    padding: 0 40px;
    bottom: 0;
    font-size: 1.5em;
}

/* Love button styling */

.lovebutton {
    margin-top: 20px;
    z-index:3;
}

.lovebutton a {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 20px 50px;

    font-family: Fraunces;
    font-size: 1.5em;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    background-color: rgb(194, 0, 0);
    color: white;
    border-radius: 20px;
}
/*************** Forms ****************/

#send-love {
    background:black;
    /* background: linear-gradient(23deg, rgba(74,183,251,1) 0%, rgba(12,111,173,1) 100%); */
    color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    position: fixed;
    margin: auto;
    z-index: 3;
}


.send-love-offscreen {
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out; 
}
.send-love-onscreen { 
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);  
    transition: all 500ms ease-in-out;
}

#send-love h2 {
    padding: 10px 0;
}


label, input {
    display: block;
}
label {
    font-family: 'Fraunces';
    font-size: 1.5em;
    margin-bottom: 10px;
}
input {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    font-size: 13px;
}
