body {
    font-family: 'Archivo', sans-serif;
}



main {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    /* display: flex; */

    padding-top: 20px;
}

h1 {
    font-size: 5em;
    margin-bottom: 0.2em;

}

h2 {
    min-width: 250px;
    padding-right: 20px;

    color: darkolivegreen;
}

.content {
    max-width: 1000px;
    margin: auto;
}

#container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
}

