body {
    overflow: hidden;
}

#myVideo {
    display: flex;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 40%;

}

#myBackVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;

    border: 10px solid black;
    transform: translate(-50%, -50%);

    filter: blur(10px) invert(100%);
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#text-container {
    position: relative;
}

p {
    padding: 2px 0;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

#quote {
    width: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    margin: 0;
    z-index: 2;

    background-color: #F7B801;
    color: black;


    transform: translate(-50%, -50%);
}

#instructions {
    width: 50%;
    position: absolute;
    bottom: 1%;
    left: 50%;
    margin: 0;
    z-index: 2;

    background-color: black;
    color: #F7B801;

    transform: translate(-50%, -50%);
    font-family: 'Cormorant', serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

.fa-expand {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #F7B801;
}
